{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/slider.css' %}?{% now 'U' %}" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="{% static 'tracks/css/track.css' %}?{% now 'U' %}" xmlns="http://www.w3.org/1999/html">

<title>{% block title %}
       {% endblock %}</title>

<body id="body">
  <div class="navbar">
    <a href="{% url 'main_home' %}">Главная</a>
    <a href="/liked/">Понравившиеся</a>
    {% for group in user.groups.all %}
      {% if group.name == 'manager' %}
        <a href="statistics">Статистика</a>
      {% endif %}
    {% endfor %}
  </div>
</body>

