{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/slider.css'%}" xmlns="http://www.w3.org/1999/html">
<title>{% block title %}
       {% endblock %}</title>
<body id="body">
  <aside>
    <h3>Навигация</h3>
    <ul>
      <a href="{% url 'main_home' %}"><li>Главная</li></a>
    </ul>
  </aside>

  <form action="{% url 'main_home' %}" method="get" id="inputForm">
    <input type="text" id="searchInput" name="name" placeholder="Введите запрос"  value="{{ input }}">
    <button type="submit" id="mainSearch">Поиск</button>
  </form>

  <div>
      <div>
          <img src="{% static 'main/img/logo.png' %}" class="png-image">
      </div>
      
  </div>
  
  <!-- {% block content %}
  {% endblock %} -->
  <div id="trackList">
    {% for el in track_list %}
          <div id="trackListElement">
              <div>{{ el }}</div>
          </div>
    {% endfor %}

    {% for el in authorship_list %}
          <div id="authorshipListElement">
              <div>{{ el.1 }}</div>
          </div>
    {% endfor %}

    {% for el in artist_list %}
          <div id="artistListElement">
              <div>{{ el }}</div>
          </div>
    {% endfor %}
  </div>

  <form class="filter">
      <div>
        <input
          type="checkbox"
          id="subscribeNews"
          name="subscribe"
          value="newsletter" />
        <label for="subscribeNews">Subscribe to newsletter?</label>
      </div>
  </form>
</body>