{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/slider.css' %}?{% now 'U' %}" xmlns="http://www.w3.org/1999/html">
<title>{% block title %}
       {% endblock %}</title>

<body id="body">
  <div class="navbar">
    <a href="{% url 'main_home' %}">Главная</a>
    <a href="">Понравившиеся</a>
    {% if  %}
    <a href="#contact">Контакты</a>
 </div>

  <form action="{% url 'main_home' %}" method="get" id="inputForm">
    <input type="text" id="searchInput" name="name" placeholder="Введите запрос"  value="{{ input }}">
    <button type="submit" id="mainSearch">Поиск</button>
  </form>
  
  <!-- {% block content %}
  {% endblock %} -->
  <div id="trackList">
    {% for el in track_list %}
          <div id="trackListElement">
              <div>{{ el.1 }}</div>
              <a href="/like/{{ el.0 }}"><img src="{% static 'main/img/like2.png' %}" class="like-button"></a>
          </div>
    {% endfor %}

    {% for el in authorship_list %}
          <div id="authorshipListElement">
              <div>{{ el.1 }}</div>
              <a><img src="{% static 'main/img/like2.png' %}" class="like-button"></a>
          </div>
    {% endfor %}

    {% for el in artist_list %}
          <div id="artistListElement">
              <div>{{ el.1 }}</div>
              <a><img src="{% static 'main/img/like2.png' %}" class="like-button"></a>
          </div>
    {% endfor %}
  </div>

  <form class="filter">
      <div>
        <input
          type="checkbox"
          id="subscribeNews"
          name="subscribe"
          value="newsletter" />
        <label for="subscribeNews">Subscribe to newsletter?</label>
      </div>
  </form>
</body>