{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/slider.css' %}?{% now 'U' %}" xmlns="http://www.w3.org/1999/html">

<title>{% block title %}
       {% endblock %}</title>

<body id="body">
  <div class="navbar">
    <a href="{% url 'main_home' %}">Главная</a>
    <a href="/liked/">Понравившиеся</a>
    {% for group in user.groups.all %}
      {% if group.name == 'manager' %}
        <a href="statistics">Статистика</a>
      {% endif %}
    {% endfor %}

 </div>

  <form action="{% url 'main_home' %}" method="get" id="inputForm">
    <input type="text" id="searchInput" name="name" placeholder="Введите запрос"  value="{{ input }}">
    <button type="submit" id="mainSearch">Поиск</button>
  </form>
  
  <!-- {% block content %}
  {% endblock %} -->
  <div id="trackList">
    {% for el in track_list %}
          <div id="trackListElement">
              <a href="/like/{{ el.0 }}" id="trackLike"><img src="{% static 'main/img/like2.png' %}" class="like-button"></a>
              <div id="trackName">
                  <a href="/tracks/{{ el.0 }}" class="text">{{ el.1 }}</a>
              </div>
              <div id="artistUnderTrack">
                  {% for ar in el.4 %}
                    <a href="/artist/{{ ar.0 }}" class="artist">{{ ar.1 }}, </a>
                  {% endfor %}
              </div>
              <audio controls>
                <source src="{{ music_url }}{{ el.0 }}.mp3" type="audio/mpeg">
              </audio>
          </div>
    {% endfor %}

    {% for el in authorship_list %}
          <div id="authorshipListElement">
              <div>{{ el.1 }}</div>
              <a><img src="{% static 'main/img/like2.png' %}" class="like-button"></a>
          </div>
    {% endfor %}

    {% for el in artist_list %}
          <div id="artistListElement">
              <div>{{ el.1 }}</div>
              <a><img src="{% static 'main/img/like2.png' %}" class="like-button"></a>
          </div>
    {% endfor %}
  </div>

</body>