<div id="sliderList">
    <div class="slider-container">
    <div class="slider-wrapper">
      <span class="slider-value" id="slider1Value">50</span>
      <input type="range" min="0" max="100" value="50" class="slider" id="slider1">
    </div>


    <div class="slider-wrapper">
      <span class="slider-value" id="slider2Value">50</span>
      <input type="range" min="0" max="100" value="50" class="slider" id="slider2">
    </div>


    <div class="slider-wrapper">
      <span class="slider-value" id="slider3Value">50</span>
      <input type="range" min="0" max="100" value="50" class="slider" id="slider3">
    </div>


    <div class="slider-wrapper">
      <span class="slider-value" id="slider4Value">50</span>
      <input type="range" min="0" max="100" value="50" class="slider" id="slider4">
    </div>


    <div class="slider-wrapper">
      <span class="slider-value" id="slider5Value">50</span>
      <input type="range" min="0" max="100" value="50" class="slider" id="slider5">
    </div>
    <button onclick="sendRequest()">Отправить запрос</button>
    </div>

</div>

<script src="{% static 'main/js/slider.js'%}"></script>