.slider-container {
  width: 50%;
  text-align: right;
  position: fixed;
  right: 0;
  margin-right: 40px;
  margin-top: 40px;
}

.slider {
-webkit-appearance: none;
  width: 45vh;
  height: 9px;
  margin-bottom: 10px;
  background: #242630;
  opacity: 0.95;
  border-radius: 5px;
}

.slider:hover{
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: #0072cc;
  cursor: pointer;
}

button {
  margin-top: 10px;
}

.search-container{
  width: 25%;
  margin: auto;
}

#mainSearch{
  background: #5c5c64;
  color: #ffffff;
  border-radius: 5px;
  width: 25%;
  /* background-image: url('путь_к_изображению'); */
}

#mainSearch:hover{
  background: #333641;
}

.search-container{
  transform: scale(1.5);
}

#searchInput{
  border-radius: 5px;
  background: #242630; /* Градиентный фон */
  color: white; /* Цвет текста */
  border: none;
  height: 25px;
  width: 45%;
  left: 25%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
#searchInput::placeholder {
  padding-left: 5px; /* Отступ слева */
}
#mainSearch{
  position: relative;
  left: 25%;
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 5%;
  top: -5px;
  min-width: 68px;
}

#trackListElement, #authorshipListElement, #artistListElement {
  left: 25%;
  position: relative;
  width: 50%;
  border: 1px solid black;
  margin-bottom: 5px;
}

#body{
    background-image: linear-gradient(to right, #5c5c64, #242630);
}

.png-image{
    background-color: transparent;
}

.like-button {
    z-index: 1;
}

/* Основные стили для панели навигации */
.navbar {
    overflow: hidden;
    background-color: #32333d;
    margin-bottom: 20px;
}

/* Стили для ссылок в панели навигации */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px; /* Отступы вокруг ссылок */
    text-decoration: none;
}

/* При наведении курсора на ссылку */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

audio {
    width: 100%;
    height: 40px;
    background-color: transparent; /* Прозрачный фон */
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

/* Панель управления плеером */
audio::-webkit-media-controls-panel {
    background-color: #41424b; /* Полупрозрачный фон для панели управления */
    border-radius: 5px;
}

/* Стили для кнопок управления */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-volume-slider {
    opacity: 1; /* Кнопки управления остаются непрозрачными */
    filter: none; /* Удалите фильтр, если он не нужен */
}

/* Стили для временных индикаторов и таймлайна */
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    opacity: 0.8; /* Прозрачность временных индикаторов и таймлайна */
}

/* Менее прозрачный фон при наведении на плеер */
audio:hover {
    background-color: transparent;
}
